.bg-package {
  background-color: #81BB4A;
  padding: .5rem;
  width: 100%;
}

.bg-package h2 {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: large;
}

.property-slider {
  display: flex;
  flex-direction: row;
}

.property-item{
  margin: 10px;
}